<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox"> <!-- Sidebar set to on add 'checked' -->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <img style="float: right;" src="/assets/me_.jpg" width="29%">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="https://pinboard.in/u:h_b_/">Pinboard</a>

    <a class="sidebar-nav-item" href="https://www.linkedin.com/in/hudsondiggsbailey/">LinkedIn</a></nav>

    <a class="sidebar-nav-item" href="https://github.com/hdbhdb">GitHub</a>

    <a class="sidebar-nav-item"><center><img alt="Public Key" style="border-width:0" align="middle" src="/assets/public.gif" />public key</center></a>

    <a class="sidebar-nav-item" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" align="middle" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /> The content of this site is licensed under a Creative Commons Attribution 3.0 Unported License. <br> {{ site.time | date: '%Y' }}.</a>

  </nav>



</div>
